/TiketSystem/nbproject/private/
/Week3/build/
/Week4/build/
/Week5/build/
/Lean/target/
/helloApiIvy/nbproject/private/
/MyApiProject/nbproject/private/
/JavaApplication8/nbproject/private/
/API/nbproject/private/
/JavaApplication10/nbproject/private/
/JavaApplication10/build/
